.hero__container {
  background-color: white;
  height: 90vh;
  padding: 0;
  position: relative;
}

.image__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.image__container img {
  width: 25%;
}

.text__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text__container h1 {
  /* background: rgba(0, 0, 0, .25); */
  position: absolute;
  height: 50vh;
  width: 50vw;
  top: 15%;
  left: 25%;
  text-align: center;
  font-family: var(--raj-font);
  font-weight: var(--bold-weight);
  font-size: 6rem;
  /* transform: translate(-50%,-50%); */
  /* z-index: 10; */
  color: white;
}

.hero__button {
  position: absolute;
  bottom: 25%;
  left: 45%;
  /* border: 2px solid white; */
  background-color: #2554d7;
  font-family: var(--raj-font);
  font-weight: var(--semibold-weight);
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
}

.hero__button:hover {
  background-color: white;
  color: #2554d7;
}
